.background-position-homepage {
    background-position: unset !important;
}

@media (min-width: 760px) {
    .background-position-homepage {
        background-position: center center !important;
    }
}

@media(min-width: 1050px) {
    .view.homepage {
        background-image: url("/images/homepage.JPG") !important;
    }
}