.background-position-homepage {
    background-position: unset !important;
}

.card.homepage {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

@media (min-width: 760px) {
    .background-position-homepage {
        background-position: center center !important;
    }
}

@media(min-width: 1050px) {
    .view.homepage {
        background-image: url("/images/homepage.JPG") !important;
    }
}