.recipes-container {
    margin-top: 65px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.position-relative {
    position: relative !important;
}

.position-absolute {
    position: absolute !important;
}

.recipe-col {
    margin-bottom: 1rem;
}

.btn-rounded {
    border-radius: 50% !important;
    padding: .7rem 1rem !important;
    right: 5px;
    bottom: -1.5rem;
}

.location-text {
    padding-left: 1.25rem;
}

@media (min-width: 1200px) {
    .recipes-container {
        max-width: 1340px;
    }
}